In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import linear_model

In [5]:
df = pd.read_csv('Carseats.csv')
print(df.shape)
df.head()

(400, 12)

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,2,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,3,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,4,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,5,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [19]:
# Set Sales as Y
Y = df['Sales']

# Set rest of columns as X and create dummy variables
X = pd.DataFrame(df.drop('Sales', axis=1))
X = pd.get_dummies(X, drop_first=True)

In [20]:
reg = linear_model.LinearRegression()
reg.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
# Get p-values for the coefficients
# Get standard error for the coefficients
# Used this: https://stackoverflow.com/questions/27928275/find-p-value-significance-in-scikit-learn-linearregression
from scipy import stats 

params = np.append(reg.intercept_,reg.coef_)
predictions = reg.predict(X)


newX = pd.DataFrame({"Constant":np.ones(len(X))}).join(pd.DataFrame(X))
MSE = (sum((Y-predictions)**2))/(len(newX)-len(newX.columns))


var_b = MSE*(np.linalg.inv(np.dot(newX.T,newX)).diagonal())
sd_b = np.sqrt(var_b)
ts_b = params/ sd_b

p_values =[2*(1-stats.t.cdf(np.abs(i),(len(newX)-1))) for i in ts_b]

sd_b = np.round(sd_b,3)
ts_b = np.round(ts_b,3)
p_values = np.round(p_values,3)
params = np.round(params,4)


myDF3 = pd.DataFrame()
myDF3["Coefficients"],myDF3["Standard Errors"],myDF3["t values"],myDF3["Probabilites"] = [params,sd_b,ts_b,p_values]

col_map = {0 : 'Intercept'}

for i, col in enumerate(X.columns):
    col_map[i + 1] = col

myDF3.index = myDF3.index.map(col_map)

print(myDF3)

                  Coefficients  Standard Errors  t values  Probabilites
Intercept               5.7286            0.611     9.375         0.000
Unnamed: 0             -0.0003            0.000    -0.724         0.470
CompPrice               0.0930            0.004    22.366         0.000
Income                  0.0157            0.002     8.422         0.000
Advertising             0.1239            0.011    11.078         0.000
Population              0.0002            0.000     0.582         0.561
Price                  -0.0954            0.003   -35.678         0.000
Age                    -0.0462            0.003   -14.480         0.000
Education              -0.0225            0.020    -1.133         0.258
ShelveLoc_Good          4.8520            0.153    31.666         0.000
ShelveLoc_Medium        1.9579            0.126    15.515         0.000
Urban_Yes               0.1278            0.113     1.129         0.260
US_Yes                 -0.1854            0.150    -1.236         0.217